<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Failure</title>
	 <script src="/JS/jquery-3.2.1.min.js"></script>
	<link href="/JS/bootstrap.min.css" rel="stylesheet">
	<script src="/JS/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Sue+Ellen+Francisco" rel="stylesheet">
	
	
	
 <style type="text/css">
    .padd {
	padding: 15px;
	}
   </style>
</head>
<body>

<div class="container">


	<div class="text-center">
        <div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">
        <br><br> <h2 style="color: red"><b>Login Failure</b></h2>
        <h3>Incorrect Credentials</h3>
        <p style="font-size:20px ">Please go back or click below to go to login Page</p>
        <a class='btn btn-warning' href="/login">Click here to Login</a>
    <br><br>
        </div>
        
	</div>


</div>


</body>
</html>